
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myInvoiceLabel">Create or edit a Invoice</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.invoice.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.invoice.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_creationDate">Creation Date</label>
                <div class="input-group">
                    <input id="field_creationDate" type="text" class="form-control" name="creationDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.invoice.creationDate" is-open="vm.datePickerOpenStatus.creationDate"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('creationDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.creationDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.creationDate.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_modficationDate">Modfication Date</label>
                <div class="input-group">
                    <input id="field_modficationDate" type="text" class="form-control" name="modficationDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.invoice.modficationDate" is-open="vm.datePickerOpenStatus.modficationDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('modficationDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_invoiceNumber">Invoice Number</label>
            <input type="text" class="form-control" name="invoiceNumber" id="field_invoiceNumber"
                    ng-model="vm.invoice.invoiceNumber"
                    required />
            <div ng-show="editForm.invoiceNumber.$invalid">
                <p class="help-block"
                    ng-show="editForm.invoiceNumber.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_orderNumber">Order Number</label>
            <input type="text" class="form-control" name="orderNumber" id="field_orderNumber"
                    ng-model="vm.invoice.orderNumber"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_salesPersonName">Sales Person Name</label>
            <input type="text" class="form-control" name="salesPersonName" id="field_salesPersonName"
                    ng-model="vm.invoice.salesPersonName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_subtotal">Subtotal</label>
            <input type="number" class="form-control" name="subtotal" id="field_subtotal"
                    ng-model="vm.invoice.subtotal"
                    required />
            <div ng-show="editForm.subtotal.$invalid">
                <p class="help-block"
                    ng-show="editForm.subtotal.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.subtotal.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_taxes">Taxes</label>
            <input type="number" class="form-control" name="taxes" id="field_taxes"
                    ng-model="vm.invoice.taxes"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_shippingCharges">Shipping Charges</label>
            <input type="number" class="form-control" name="shippingCharges" id="field_shippingCharges"
                    ng-model="vm.invoice.shippingCharges"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_adjustments">Adjustments</label>
            <input type="number" class="form-control" name="adjustments" id="field_adjustments"
                    ng-model="vm.invoice.adjustments"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_totalAmount">Total Amount</label>
            <input type="number" class="form-control" name="totalAmount" id="field_totalAmount"
                    ng-model="vm.invoice.totalAmount"
                    required />
            <div ng-show="editForm.totalAmount.$invalid">
                <p class="help-block"
                    ng-show="editForm.totalAmount.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.totalAmount.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
