
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDealerLabel">Create or edit a Dealer</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.dealer.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.dealer.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_creationDate">Creation Date</label>
                <div class="input-group">
                    <input id="field_creationDate" type="text" class="form-control" name="creationDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.dealer.creationDate" is-open="vm.datePickerOpenStatus.creationDate"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('creationDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.creationDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.creationDate.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_modificationDate">Modification Date</label>
                <div class="input-group">
                    <input id="field_modificationDate" type="text" class="form-control" name="modificationDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.dealer.modificationDate" is-open="vm.datePickerOpenStatus.modificationDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('modificationDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_firmName">Firm Name</label>
            <input type="text" class="form-control" name="firmName" id="field_firmName"
                    ng-model="vm.dealer.firmName"
                    required />
            <div ng-show="editForm.firmName.$invalid">
                <p class="help-block"
                    ng-show="editForm.firmName.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_ownerName">Owner Name</label>
            <input type="text" class="form-control" name="ownerName" id="field_ownerName"
                    ng-model="vm.dealer.ownerName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_tin">Tin</label>
            <input type="text" class="form-control" name="tin" id="field_tin"
                    ng-model="vm.dealer.tin"
                    required />
            <div ng-show="editForm.tin.$invalid">
                <p class="help-block"
                    ng-show="editForm.tin.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_termsAndConditions">Terms And Conditions</label>
            <input type="text" class="form-control" name="termsAndConditions" id="field_termsAndConditions"
                    ng-model="vm.dealer.termsAndConditions"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_openingBalance">Opening Balance</label>
            <input type="number" class="form-control" name="openingBalance" id="field_openingBalance"
                    ng-model="vm.dealer.openingBalance"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_currentBalance">Current Balance</label>
            <input type="number" class="form-control" name="currentBalance" id="field_currentBalance"
                    ng-model="vm.dealer.currentBalance"
                     />
        </div>

        <div class="form-group">
            <label for="field_address">Address</label>
            <select class="form-control" id="field_address" name="address" ng-model="vm.dealer.address" ng-options="address as address.address1 for address in vm.addresses | orderBy:'id' track by address.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
